/* @import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap"); */

@tailwind base;
@layer base {
  html {
    @apply text-color;
  }
}
@tailwind components;
@tailwind utilities;

body {
  background: url("/images/group.svg") repeat;
}

.card {
  border: 1px solid #ccc;
}

.borderCard {
  transform: scale(1.005);
  z-index: 10;
  background: linear-gradient(to right, #fc8596 1px, transparent 1px) 0 0,
    /* left top vertical */
      linear-gradient(to right, #fc8596 1px, transparent 1px) 0 100%,
    /* left bottom vertical */
      linear-gradient(to left, #fc8596 1px, transparent 1px) 100% 0,
    /* right top vertical */
      linear-gradient(to left, #fc8596 1px, transparent 1px) 100% 100%,
    /* right bottom vertical */
      linear-gradient(to bottom, #fc8596 1px, transparent 1px) 0 0,
    /* left top horizontal */
      linear-gradient(to bottom, #fc8596 1px, transparent 1px) 100% 0,
    /* right top horizontal */
      linear-gradient(to top, #fc8596 1px, transparent 1px) 0 100%,
    /* left bottom horizontal */
      linear-gradient(to top, #fc8596 1px, transparent 1px) 100% 100%; /* right top horizontal */

  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.title {
  /* display: inline-block; */
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 2px;
  transform: translate(-50%);
  background-color: #fc8596;
}
.skill-container,
.skill-percentage {
  height: 12px;
}
.btn-pink {
  box-shadow: 0 2px #db5165;
  top: -2px;
  transition: 0.1s;
}
.btn-pink:hover {
  top: 0;
  box-shadow: 0 1px #c86472;
}
.btn-white {
  box-shadow: 0 2px #fb99a7;
  top: -2px;
  transition: 0.1s;
}
.btn-white:hover {
  top: 0;
  box-shadow: 0 1px #fc8596;
}
