/* @import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap"); */

@tailwind base;
@layer base {
  html {
    @apply text-color;
  }
}
@tailwind components;
@tailwind utilities;

body {
  background: url("/images/group.svg") repeat;
}

.title {
  /* display: inline-block; */
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 2px;
  transform: translate(-50%);
  background-color: #fc8596;
}
.skill-container,
.skill-percentage {
  height: 12px;
}
.btn-pink {
  box-shadow: 0 2px #db5165;
  top: -2px;
  transition: 0.1s;
}
.btn-pink:hover {
  top: 0;
  box-shadow: 0 1px #c86472;
}
.btn-white {
  box-shadow: 0 2px #fb99a7;
  top: -2px;
  transition: 0.1s;
}
.btn-white:hover {
  top: 0;
  box-shadow: 0 1px #fc8596;
}
.box-border {
  position: absolute;
  width: 30px;
  height: 30px;
}

.box-border-leftTop {
  border-top: 2px solid #fc8596;
  border-left: 2px solid #fc8596;
  top: -1px;
  left: -1px;
}

.box-border-leftBottom {
  border-left: 2px solid #fc8596;
  border-bottom: 2px solid #fc8596;
  bottom: -1px;
  left: -1px;
}

.box-border-rightTop {
  border-top: 2px solid #fc8596;
  border-right: 2px solid #fc8596;
  top: -1px;
  right: -1px;
}

.box-border-rightBottom {
  border-right: 2px solid #fc8596;
  border-bottom: 2px solid #fc8596;
  right: -1px;
  bottom: -1px;
}
/* .animation {
  transition: 0.2s;
  transition-timing-function: ease-in;
} */
